/* .tablekey {
  background-color: lightgray;
  text-align : right;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  height: 100%;
}
.tablevalue {
  text-align : left;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
}

.table{
  table-layout:fixed;
}
.table-break-all, .field-src_incl_db, .field-src_skip_db, .field-tgt_host,  .field-tgt_db_name
{
  word-break: break-all;
}

.col-sm-2.tablekey {
  background-color: lightgray;
}
.field-src_incl_db, .field-src_skip_db, .field-tgt_host, .field-tgt_db_name, .field-src_host
{
  max-width: available;
}
.row1, .row2 {
  vertical-align: top;
}
.action-checkbox {
  vertical-align: auto;
}
.tabular.inline-related .form-row {
  display:table-row;
}
.tabular.inline-related .empty-form {
  display: none;
}*/
/* Table lists */
.tabular-pagination {
    padding-top: 2rem;
}
#result_list .field-src_incl_db, #result_list .field-src_skip_db, #result_list .field-tgt_host,
#result_list .field-tgt_db_name, #result_list .field-src_host {
    max-width: available;
    overflow-wrap: anywhere;
}

div#changelist-filter ul {
    overflow-y: scroll;
    max-height: 350px;
}

/* Alerts */
#db-alert, #table-alert {
    max-height: 400px;
    overflow-y: scroll;
}

/* Status */
.overall_status {
    font-weight: bold;
    padding: 0.5em;
    float: left;
}

.Complete {
    background-color: lightgreen;
    background-clip:content-box;
}

.Incomplete {
    background-color: lightblue;
    background-clip:content-box;
}

.Submitted, .Scheduled {
    background-color: lightblue;
    background-clip:content-box;
}

.Running {
    background-color: gold;
    background-clip:content-box;
}

.Failed {
    background-color: lightpink;
    background-clip:content-box;
}

.progress {
    background-color: #bdd3fb;
    border-radius: 0;
    box-shadow: none;
    height: 29px;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0 !important;
    margin-top: 1px;
}

.progress-bar > .job-completed {
    font-size: 1.0rem;
    left: 8px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
}

/* DAL CSS */
#requestjob_form .select2-container {
    min-width: 30em !important;
}

/* in case of Django-jet usage do not display the jet init fields */
#requestjob_form .select2-container--default + .select2-container--jet {
    display: none;
}

.closelink {
}
