/* .tablekey {
  background-color: lightgray;
  text-align : right;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  height: 100%;
}
.tablevalue {
  text-align : left;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
}

.table{
  table-layout:fixed;
}
.table-break-all, .field-src_incl_db, .field-src_skip_db, .field-tgt_host,  .field-tgt_db_name
{
  word-break: break-all;
}

.col-sm-2.tablekey {
  background-color: lightgray;
}
.field-src_incl_db, .field-src_skip_db, .field-tgt_host, .field-tgt_db_name, .field-src_host
{
  max-width: available;
}
.row1, .row2 {
  vertical-align: top;
}
.action-checkbox {
  vertical-align: auto;
}
.tabular.inline-related .form-row {
  display:table-row;
}
.tabular.inline-related .empty-form {
  display: none;
}*/
/* Table lists */
.tabular-pagination {
    padding-top: 2rem;
}

#result_list .field-src_incl_db, #result_list .field-src_skip_db, #result_list .field-tgt_host,
#result_list .field-tgt_db_name, #result_list .field-src_host {
    max-width: available;
    overflow-wrap: anywhere;
}

div#changelist-filter ul {
    overflow-y: scroll;
    max-height: 350px;
}

/* Alerts */
#db-alert, #table-alert {
    max-height: 400px;
    overflow-y: scroll;
}

/* Status */
.overall_status {
    font-weight: bold;
    padding: 0.5em;
    float: left;
}

.Complete {
    background-color: lightgreen !important;
}

tr.Complete {
    background-color: rgba(144, 238, 144, 0.5) !important;
}


.Incomplete {
    background-color: skyblue;
}

tr.Incomplete {
    background-color: rgba(135, 206, 235, 0.5) !important;
}

.Submitted, .Scheduled {
    background-color: lightblue;
}

tr.Submitted, tr.Scheduled {
    background-color: rgba(173, 216, 230, 0.5) !important;
}

.Running {
    background-color: gold;
}

tr.Running {
    background-color: rgba(255, 215, 0, 0.5) !important;
}

.Failed {
    background-color: crimson;
}

tr.Failed {
    background-color: rgba(220, 20, 60, 0.5) !important;
}

td.Complete, td.Incomplete, td.Running, td.Submitted, td.Scheduled. td.Failed {
    background-clip: content-box;
}

/* DAL CSS */
#requestjob_form .select2-container {
    min-width: 30em !important;
}

/* in case of Django-jet usage do not display the jet init fields */
#requestjob_form .select2-container--default + .select2-container--jet {
    display: none;
}

.closelink {
}

table#result_list td.field-tgt_host,
table#result_list td.field-src_skip_db,
table#result_list td.field-src_incl_db {
    word-break: break-all;
    max-width: 25rem;
}

/* Progress bars */
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
}
/* Lists */
table#result_list progress[value] {
    max-width: 100px;
}

progress[value]::-moz-progress-bar {
    background: cornflowerblue;
}

progress::-webkit-progress-value {
    background: cornflowerblue;
}

progress {
    background: lightgrey;
    color: cornflowerblue;
}
/* Details */
#requestjob_form progress[value] {
    width: 90%;
}

progress[value]::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
