
/* Table lists */
.tabular-pagination {
    padding-top: 2rem;
}

#result_list td.field-src_incl_db, #result_list td.field-src_skip_db, #result_list td.field-tgt_host,
#result_list td.field-tgt_db_name, #result_list td.field-src_host {
    max-width: 250px;
    overflow-wrap: anywhere;
    word-break: break-all;
}

div#changelist-filter ul {
    overflow-y: scroll;
    max-height: 350px;
}

/* Alerts */
#db-alert, #table-alert {
    max-height: 400px;
    overflow-y: scroll;
}

/* Status */
.overall_status {
    font-weight: bold;
    padding: 0.5em;
    float: left;
}

.Complete {
    background-color: lightgreen !important;
}

tr.Complete {
    background-color: rgba(144, 238, 144, 0.5) !important;
}


.Incomplete {
    background-color: skyblue;
}

tr.Incomplete {
    background-color: rgba(135, 206, 235, 0.5) !important;
}

.Submitted, .Scheduled {
    background-color: lightblue;
}

tr.Submitted, tr.Scheduled {
    background-color: rgba(173, 216, 230, 0.5) !important;
}

.Running {
    background-color: gold;
}

tr.Running {
    background-color: rgba(255, 215, 0, 0.5) !important;
}

.Failed {
    background-color: crimson;
}

tr.Failed {
    background-color: rgba(220, 20, 60, 0.5) !important;
}

td.Complete, td.Incomplete, td.Running, td.Submitted, td.Scheduled. td.Failed {
    background-clip: content-box;
}

/* DAL CSS */
#requestjob_form .select2-container {
    min-width: 30em !important;
}

/* in case of Django-jet usage do not display the jet init fields */
#requestjob_form .select2-container--default + .select2-container--jet {
    display: none;
}

#requestjob_form .global_status{
    height: 30px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: #0a0b0d;
}


.closelink {
}

/* Progress bars */
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
}
/* Lists */
table#result_list progress[value] {
    max-width: 100px;
}

progress[value]::-moz-progress-bar {
    background: cornflowerblue;
}

progress::-webkit-progress-value {
    background: cornflowerblue;
}

.progress_value {
    top: -28px;
    position: relative;
    left: 5px;
    color: black;
}


progress {
    background: lightgrey;
    color: cornflowerblue;
}
/* Details */
#requestjob_form progress[value] {
    width: 100%;
}

#requestjob_form div.field-overall_status div.overall_status {
    min-width: 200px;
}

progress[value]::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* Errors */
ul.dbcopy-messagelist {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#dbnamesAlertBox ul, #dbtablesAlertBox ul, #blockingAlertBox ul {
    margin-left: 1.5em;
}
#dbnamesAlertBox ul li ul li, #dbtablesAlertBox ul li ul li, #blockingAlertBox ul li ul li{
    list-style: square;
    background: unset;
    padding-left: 1rem;
}

/* Bootstrap like alerts */
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-warning {
    background-image: url('/static/admin/img/icon-alert.svg') 40px 14px no-repeat;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-danger {
    background-image: url('/static/admin/img/icon-no.svg') 40px 12px no-repeat;;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-results {
    color: brown;
}